<h1>Editing contact info</h1>

<%= render "form", contact_info: @contact_info %>

<br>

<div>
  <%= link_to "Show this contact info", @contact_info %> |
  <%= link_to "Back to contact infos", contact_infos_path %>
</div>
